
body{background-color: rgba(0, 0, 0, 0.864);}

.main{border: solid;border-color: red;margin: 0 auto;width: 1000px;}

.titre{border: solid;border-color: brown;text-align: center;background-color: brown;text-align: center;}

.barnav{background-color: brown;display: flex;height: 50px;display: flex;height: 50px;text-align: center;justify-content: space-evenly;}
.barnav p a:hover{background-color:rgba(241, 233, 233, 0.175);}
.barnav p a{text-decoration: none; color: #D5D8DC;}

article header{text-align: center;}
.sujet1{
    background-color: #5D6D7E;
    border: solid;
    border-color: #5D6D7E;
    padding-left: 50px;
    padding-right: 50px;
}
.sujet2{
    background-color: #D5D8DC;
    border: solid;
    border-color:#D5D8DC;
    padding-left: 50px;
    padding-right: 50px;
}

.teclist{border: dotted;border-color: red;padding: 3%;display:inline-block}

.end{background-color: brown;display: flex;}

.youtubelogo{height: 100px;width: auto;}
.grillesudoku{display: flex;margin-bottom: 30px;}
.placement{height: 400px;width: auto;}