@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

*{margin: 0 auto; font-size: larger;font-size: 100%;width: 1000px}

body{background-color: #5d6d7e43;}

.main{border: solid;border-radius: 3%;}

header{text-align: center;height: 100px;font-size: 50px;overflow: hidden;font-family: Source Sans Pro ;}

.barnav{background-color: #283747;color: #D5D8DC;font-size: 80%;display: flex;overflow: hidden;align-items: center;justify-content: center;font-family: Prompt,Source Sans Pro ;text-align: center;}
.barnav p a:hover{background-color:rgba(241, 233, 233, 0.175);}
.barnav p a{text-decoration: none; color: #D5D8DC;}
.barnav p{line-height: 100%;}

section{font-size: 100%;overflow: hidden;text-align: center;line-height: 200%;font-family: Prompt,Source Sans Pro;}

.Premier {background-color: #5D6D7E}
.Second{background-color: #D5D8DC}
.Trois{background-color: #5D6D7E}
.Quatre{background-color: #D5D8DC}

footer{background-color: #283747;color: #ffffff;font-size: 40px;overflow: hidden; font-family: Prompt,Source Sans Pro;height: 100px;text-align: center;}

footer div.Divliens{display: flex;align-items: center;}

.maison{height: 40px;width: auto;}
.geopoimage{height: 100px;width: auto;}
.hussardimage{height: 120px;width: auto;margin-top: 10px;}
.eservicelogo{height: 50px;width: auto;}
.youtubelogo{height: 100px;width: auto;}
.netflix{height: 100px;width: auto;}
.Flag{height: 50px;width: auto;}
.FlagFR{height: 50px;width: auto;}


.none{height: 60px;}
.none p a:hover{background-color: #FDFEFE}
.none p a{text-decoration: none;color: black;}
.none p.retourautop{text-align: center;font-size: large;font-family: Prompt,Source Sans Pro;}

