@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

*{margin: 0%; font-size: larger;font-size: 110%;}

header{text-align: center;height: 150px;font-size: 80px;overflow: hidden;font-family: Source Sans Pro ;}

section{height: 600px;font-size: 110%;overflow: hidden;padding-left: 10%;padding-right:10%;padding-top:3%;text-align: center;line-height: 200%;font-family: Prompt;}

.barnav{background-color: #283747;color: #D5D8DC;height: 50px;font-size: 20px;display: flex;flex-wrap: wrap;overflow: hidden;align-items: center;justify-content: center;font-family: Source Sans Pro ;}
.barnav p a:hover{background-color:rgba(241, 233, 233, 0.648);}
.barnav p a{text-decoration: none; color: #D5D8DC;}
.barnav p{margin-left: 50px;}

.Premier {background-color: #5D6D7E}

.Second{background-color: #D5D8DC}

.Trois{background-color: #5D6D7E}

.Quatre{background-color: #D5D8DC}

footer{background-color: #5D6D7E;height: 250px;color: #ffffff;font-size: 40px;overflow: hidden; font-family: Prompt;}

footer div p.retourautop a:hover{background-color: #FDFEFE}
footer div p.retourautop a{text-decoration: none;color: black;}
footer div p.retourautop{text-align: center; background-color: #5D6D7E;font-size: large;}

footer div.Divliens{display: flex;justify-content: space-evenly;align-items: center;}

.geopoimage{height: 150px;width: auto;}
.hussardimage{height: 120px;width: auto;margin-top: 10px;}
.eservicelogo{height: 80px;width: auto;}
.youtubelogo{height: 200px;width: auto;}
.netflix{height: 200px;width: auto;}
.Flag{height: 50px;width: auto;margin-left: 20px;}
.FlagFR{height: 50px;width: auto;}




